<h1>Foreword</h1>

<h3 style="text-align:center">by Joseph W. Walt</h3>
<p>
<span class="first-letter">W</span>elcome to the first step in what will be a truly remarkable journey in your life.
You are embarking on an experience that I think you’ll find is one of the best
decisions you’ll ever make. As a pledge, or new member, you join the ranks of
more than 305,000 men who’ve come before you. And regardless of your age
or their age, you share something unique with them. Hundreds of thousands
of members have held this book just like you and used it as both a source of
inspiration and as a source of guidance for this journey.
</p>
<p>
Undergraduate Greek-letter fraternities are venerable institutions, some of
them nearly as old as the colleges and universities that host them. On many of
our campuses these societies are the most durable student organizations, and
they are clearly the surviving ones that are still essentially student-managed
and directed. Among the fraternities that continue to flourish, Sigma Alpha
Epsilon may be counted as one of the leaders.
</p>
<p>
What is it that has shaped our destiny as an organization? What are the qualities and principles that have come to relate positively and creatively to those
who have been fortunate enough to share membership in it? The principles of
the Fraternity, its commitment to the ideal of brotherhood, are set forth in the
Initiation Ritual originally created by Founder Noble Leslie DeVotie. In that
ritual he brought together major concepts of Greek philosophy and of JudeoChristian tradition. While these ideals have been restated in new ways for each
succeeding generation of our members, the basic principles that drive Sigma
Alpha Epsilon are the same today as they were more than 155 years ago.
</p>
<p>
While our ideals underlie our existence as a fraternity, we are aware that in any
society there is a need for constant commitment to translate these principles
into action in the daily lives of our chapters and their members during and
after their college tenures. Through its determination to instill in its members
the concept of “The True Gentleman,” in its publications, in its alumni assistance and support for undergraduate chapters and in its educational efforts
in regional and national Leadership Schools, the Fraternity seeks to reach the
hearts and minds of all its members. Thus, we are grateful to those young men
at the University of Alabama who gathered together in March of 1856 to give
new meaning to their affection and respect for each other. Little could they
have dreamed of the immense, and indeed positive, influence their fraternity
would have on generations of men who have sought after that bonding experience. Let us thank them for what they did for all of us.
</p>

<div class="phoenix-small">
	<%= inline_svg('phoenix-small.svg') %>
</div>
