<div class="border">
<div class="home">
<div class="phoenix">
	<%= inline_svg('phoenix-small.svg') %>
</div>
  <h1>The Phoenix</h1>
  <p>The Manual of Sigma Alpha Epsilon</p>
  <p><%= link_to 'Read', sections_path, class:"btn btn-primary" %></p>
</div>
</div>
