<div class="border">
<div class="home">
<div class="phoenix-gold">
	<%=image_tag 'phoenix-gold.png' %>
</div>
  <h1>The Phoenix</h1>
  <p>The Manual of Sigman Alpha Epsilon</p>
  <p><%= link_to 'Read', sections_path, class:"btn btn-primary" %></p>
</div>
</div>
