<div class="phoenix-small">
	<%= inline_svg('phoenix-small.svg') %>
</div>
<h1>Our Mission</h1>
<p>
The mission of Sigma Alpha Epsilon is to promote the highest stan-
dards of friendship, scholarship and service for our members based
upon the ideals set forth by our Founders and as specifically enunci-
ated in “The True Gentleman.”
</p>

<h3>The Principles of Sigma Alpha Epsilon:</h3>
<ol>
<li>To develop in our members the skills which will facilitate their
making deep and meaningful friendships throughout their lives.</li>

<li>To provide our undergraduate members with a physical and or-
ganizational environment conducive to their pursuit of academic
excellence.</li>

<li>To help our members better understand and experience diversity
and change to enhance their respect for individuality and personal
integrity.</li>

<li>To foster personal development of our members including leader-
ship, scholarship, citizenship and social and moral responsibility.</li>

<li>To develop in our members a sense of duty for individual and
group involvement in social interactions, service and community
outreach.</li>

<li>To provide our members with guidance, support and standards
based upon the ideals embodied in our Ritual.</li>

</li>To develop, maintain and enforce standards and expectations for
the conduct of our members within and outside of the Fraternity.</li>

<li>To provide our members with life-long fraternal experiences that
are productive, rewarding and enjoyable.</li>
</ol>

<div class="phoenix-small">
	<%= inline_svg('phoenix-small.svg') %>
</div>