<div class="nested-fields">
	<%= f.label :question %><br>
	<table style="border:none; width: 100%">
		<tr>
			<td><%= f.text_field :question %></td>
			<td style="width:50px">
    
  	<%= link_to_remove_association '', f, class:" question-remove glyphicon glyphicon-remove", data: { confirm: "Are you sure?" } %>
		<%= f.hidden_field :_destroy %>
			</td>
		</tr>
	</table>
</div>
