$light-gray: #e5e5e5;
$purple: #7f1786;
$dark-purple: #392a93;
$gold: #ce9d00;
$gold-fade: #9B7F27;
$gold-dark: #866600;
$dark-gray: #595959;
$gold-light: #E7BD3A;
$gold-light-light: #E7C868;

	.phoenix {
	width: 100%;
	}
.border {
	border: 3px solid $gold;
}
.home {
	padding: .5em;
	border: 2px solid $gold;
	margin: 4px;
	text-align:center;
	svg {
	width: 100%;
	height: 100%;
	}
	g {
	fill: $gold;
	}
}

body {
	background-color: $gold;
}
.container {
	max-width: 950px;
	margin: 0 auto;
	background-color: white;
	padding: 1em;
	margin-top: 0px;
}

.actions {
	padding-top: 1em;
	padding-bottom: 1em;
}

.field {
	padding-top: 1em;
}

.section-row {
	background-color: $light-gray;
}
.chapter-row-number {
	text-align: right;
}

.btn-primary {
}

a:hover {
	text-decoration: none;
}

h1 {
	text-align: center;
}

.navbar {
	margin-bottom: 0;
}

#search {
	background-color: $dark-gray;
	border: black;
}

.toc-header {
	color: $dark-gray;
}

.toc {
	min-width: 400px;
	height: 100%;
	overflow-y: scroll;
}


/*======CHAPTER=====*/

.chapter-header {
	text-align: center;
	letter-spacing: 3px;

}
.chapter-title {
	text-align: center;

}
.chapter-number {
	font-size: 10em;
	text-align: center;
	color: $gold;
	text-shadow: 1px 1px 3px $dark-gray;
}

.objectives {
	margin: .5em;
	padding: 1em;
	background-color: $light-gray;
	.col-sm-3 {
		text-align: center;
		font-weight: 700;
		border-right: 1px solid black;
	}
	.col-sm-8 {

	}
}
.chapter-author {
	text-align: center;
}
.chapter-content {
	float:left;
}

.chapter-summary {
	padding:1em;
	float: left;
	background-color: $light-gray;
	border: 2px solid black;
}

.first-letter {
	color: $gold;
	font-size: 3em;
	text-shadow: 1px 1px 3px $dark-gray;
}

.chapter-sections {
	color: $gold;
	text-align: center;
	text-shadow: 1px 1px 3px $dark-gray;
}

.about-author {
	font-style: italic;
	border-top: 1px dashed $dark-gray;
	margin-top: 1em;
	padding-bottom: 1em;

}

.phoenix-small {
	margin: 0 auto;
	text-align: center;
	width: 150px;
	svg {
		width: 100%;
		height: 100%;
	}
}